/* Reset CSS básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #1a1a1a;
    color: #f0f0f0;
    line-height: 1.6;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Ícones */
.github-icon,
.skill-icon,
.certificate-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.github-icon:hover,
.skill-icon:hover,
.certificate-icon:hover {
    transform: translateY(-3px);
}

/* Container */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Cabeçalho e rodapé */
header, footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.header-content {
    margin-left: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

footer p {
    margin-top: 1rem;
}

/* Seções */
.about-me, .skills, .certificates, .projects {
    padding: 2rem 0;
}

/* Lista de habilidades e certificados */
.skills ul, .certificates ul {
    list-style: none;
    padding: 0;
}

.skills li, .certificates li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Projetos */
.projects {
    padding: 2rem 0;
    background-color: #292929;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    background-color: #383838;
}

.project:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.project img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
}

.project-content {
    flex: 1;
}

.project-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.project-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.tags {
    margin-bottom: 1rem;
}

.tag {
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #e0e0e0;
    color: #333;
    border-radius: 4px;
    font-size: 0.875rem;
}

.project-buttons .button {
    display: inline-block;
    padding: 8px 16px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: #1e90ff;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.project-buttons .button:hover {
    background-color: #1c86ee;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    header h1 {
        font-size: 2rem;
    }

    header p {
        font-size: 1rem;
    }
}
